@using MindBus.Extensions.Extensions
@{
    var extraCssClass = Model.NodeTypeAlias == "DuugDrink" ? "bier" : string.Empty;
    <a href="#" class="eventblock">
        <img src="/static/img/event.jpg" />
        <div class="date">
            <span>@(((DateTime)Model.StartingTime).FormatDay())</span>@(((DateTime)Model.StartingTime).FormatMonth())</div>
        <div class="title @extraCssClass">@Model.pageTitle</div>
    </a>
}
<div class="detailsblock">
    <p class="title">
        Date:</p>
    <p>@(((DateTime)Model.StartingTime).FormatToLongFormatWithCommas())<br />
        from @(((DateTime)Model.StartingTime).FormatHour())
        - @(((DateTime)Model.EndingTime).FormatHour())
        (GMT+0100)</p>
    <p class="title">
        Location:</p>
    <p>
        <strong>@Model.Location</strong><br />
        @foreach (dynamic item in Model.LocationAddress)
        {
            @item.InnerText.ToString()<br />
        }
    </p>
    <a class="gmaps" href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Patrijsweg+80+2289+EX+Rijswijk+Netherlands&ie=UTF8&hq=&hnear=Patrijsweg+80,+Rijswijk,+Zuid-Holland,+Netherlands&z=16"
        title="Open deze locatie in googlemaps">Open in googlemaps</a>
</div>
<div class="contentblock">
    @Model.BodyText
    <h3>
        Agenda</h3>
    <p>
        @foreach (dynamic item in Model.Agenda)
        {
            @item.start.InnerText.ToString() @:tot @item.end.InnerText.ToString() - @item.description.InnerText.ToString()<br/>
                }
    </p>
</div>
